@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: radial-gradient(
      circle at top,
      #0f172a 0%,
      #020617 70%
    );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.input {
  @apply w-full px-4 py-3 rounded-xl
  bg-white/10 border border-white/10
  text-slate-100 placeholder-slate-400
  focus:outline-none focus:ring-2 focus:ring-blue-500/60
  transition;
}

.error-text {
  @apply text-red-400 text-xs mt-1;
}